@tailwind base;
@tailwind components;
@tailwind utilities;

.link{
    background-color: rgb(158, 178, 78);
    padding: 15px;
    margin-left: 10px;
    margin-right: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    color: aliceblue;
    margin-top: 10px;
    cursor: pointer;
  }

  .link:hover{
    background-color: rgb(99, 111, 50);
  }



  .boton {
    padding: 15px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    color: #fff !important;
    background-color: rgb(158, 178, 78);
    position: relative;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    cursor: pointer;
  }
  .boton:hover{
    color: white !important;
    box-shadow: 0 4px 16px rgba(99, 111, 50, 1) ;
    transition: all 0.2s ease;
    background-color: rgb(99, 111, 50);
  }
  
  